body {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5em;
		text-align: left;
	  	background-color: #fff;
	  	padding: 0px;
	 	margin: 20px;
}

img {
	display: block;
	float: left;
	background-size: 130px;
	text-align: left;
	width: 130px;
	max-width: 130px;
	padding-right: 130px;
	padding-bottom: 0px;
	margin: 0px;
}

#logo {
	display: block;
	float: left;
	background-size: 130px;
	text-align: left;
	width: 130px;
	max-width: 130px;
	padding-top: 20px;
	padding-right: 130px;
	padding-bottom: 0px;
	margin: 0px;
}

#wrapper {
	width: 1080px;
	margin: 0 auto;
}


nav {
		font-family: "Oswald", sans-serif;
		background-color: #fff;
/*		font-size: 16px;
/*		width: auto;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		letter-spacing: .5px;
		text-align: center;	*/
}


a {	
	color: #000;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .5px;
	padding: 16px;
	padding-top: 20px;
	text-align: center;	
	display: block;
	float: left;
}


.clearfix:after 
	{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


a:hover { 
  background-color: #fff; 
}



.date {
		font-family: "Oswald", sans-serif;
		font-size: 10px;
		font-weight: 400;
		text-align: center;
		display: block;
		letter-spacing: 2px;
		line-height: 1.5em;
		text-align: left;
		padding: 0px;
	 	margin:0px;
	 	float: left;
}


h2,h3 {
		font-family: "Libre Baskerville", serif;
		font-size: 19px;
		font-weight: 400;
		padding: 0px;
		padding-bottom: 1em;
	 	margin: 0px;
		text-align: left;
		text-indent: 0px;
		display: block;
		float: left;
		clear: both;
}



span {	font-family: "Oswald", sans-serif;
		font-size: 15px;
		font-weight: 400;
		display: inline;
		letter-spacing: .5px;
}
	



#blog {
		display: block;
		float: left;
		clear: both;
		text-align: left;
		text-indent: 30px;

	}



#entrya {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.75em;
		letter-spacing: .5px;
		text-align: left;
	  	background-color: #fff;
	  	padding: 0px;
	 	margin: 0px;
		display: block;
		float: left;
		clear: both;
}


#entryb {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 13px;
		line-height: 1.75em;
		letter-spacing: .5px;
		text-align: left;
	  	background-color: #fff;
	  	padding: 0px;
	 	margin: 0px;
		display: block;
		float: left;
}


.small_blog {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 13px;
		letter-spacing: 0.5px;
		line-height: 1.5em;
		text-align: center;
	  	background-color: #fff;
	  	padding: 0px;
	 	margin: 0px;
}

#sml {
		font-family: "Oswald", sans-serif;
		font-size: 10px;
		font-weight: 400;
		display: inline;
/*		font-variant: small-caps;*/
}


#pic_a {
	display: block;
	float: left;
	clear: both;
	text-align: left;
	max-width: 130px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 65px;
	margin: 0px;
}


#pic_b {
	display: block;
	float: left;
	clear: both;
	text-align: left;
	max-width: 130px;
	padding-right: 0px;
	padding-right: 0px;
	padding-bottom: 45px;
	margin: 0px;
}


#pic_c {
	display: block;
	float: left;
	clear: both;
	padding-bottom: 0px;
	max-width: 80px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#fb {
	display: block;
	float: right;
	clear: both;
	text-align: center;
	padding-bottom: 0px;
	max-height: 30px;
	background-size: 0px;
	max-width: 30px;
	line-height: 1em;
	padding-right: 0px;
	padding-bottom: 0px;
}


#mail {
	display: block;
	float: right;
	clear: both;
	text-align: center;
	padding-bottom: 0px;
	max-height: 30px;
	background-size: 0px;
	max-width: 30px;
	line-height: 1em;
	padding-right: 0px;
	padding-bottom: 0px;
}


h5, footer {
		font-family: "Oswald", sans-serif;
		font-size: 12px;
		letter-spacing: 1px;
		font-weight: 400;
		text-align: center;
		display: block;
		padding: 6px;
	 	margin:6px;
}


#about {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 13px;
		line-height: 1.5em;
		text-align: center;
	  	background-color: #fff;
	  	padding: 6px;
	 	margin: 6px;
		display: block;
		float: left;
		clear: both;
}



footer {
		display: block;
		float: left;
		clear:both;
		margin-bottom: 20px;
		text-align: center;
}








