body {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5em;
		text-align: left;
	  	background-color: #fff;
	  	padding: 0px;
	 	margin: 20px;
}

img {
	width: 130px;
}


#logo {
	display: block;
	float: left;
	clear: left;
	background-size: 0px;
	text-align: left;
	width: 130px;
	padding-top: 10px;
	padding-right: 60px;
	padding-bottom: 60px;
	margin: 5px;
}

#wrapper {
	margin: 0 auto;
	width: 1040px;
}


nav {
		font-family: "Oswald", sans-serif;
		background-color: #fff;
/*		font-size: 16px;
/*		width: auto;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		letter-spacing: .5px;
		text-align: center;	*/
}


a {	
	color: #000;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 10pt;
	letter-spacing: .1em;
	padding: 16px;
	padding-top: 10px;
	text-align: center;	
	display: block;
	float: left;
}


.clearfix:after 
	{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


a:hover { 
  background-color: #fff; 
}


#blogbooks {
display: block;
float: left;
max-width: 720px;
}



.date {
		font-family: "Oswald", sans-serif;
		font-size: 10px;
		font-weight: 400;
		text-align: left;
		display: block;
		clear: none;
		letter-spacing: 2px;
		line-height: 2em;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 380px;
	 	float: left;
	 	max-width: 60px;
	 	margin-top: 0;
}


.date_b {
		font-family: "Oswald", sans-serif;
		font-size: 10px;
		font-weight: 400;
		text-align: left;
		display: block;
		clear: none;
		letter-spacing: 2px;
		line-height: 2em;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 200px;
	 	float: left;
	 	max-width: 60px;
	 	margin-top: 0;
}



h2,h3 {
		font-family: "Libre Baskerville", serif;
		font-size: 19px;
		font-weight: 400;
		padding-bottom: 0px;
		padding-left: 0px;
	 	margin: 0px;
		text-align: left;
		text-indent: 0px;
		display: block;
		float: left;
}



span {	font-family: "Oswald", sans-serif;
		font-size: 15px;
		font-weight: 400;
		display: inline;
		letter-spacing: .5px;
}
	

p {
padding-top: 10px;
padding-bottom: 10px;

}


.entry {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.75em;
		letter-spacing: .05em;
		text-indent: 60px;
		text-align: left;
	  	background-color: #fff;
	  	margin-left: 0px;
	  	max-width: 860px;
		display: block;
		padding-left: 30px;
		padding-bottom: 30px;
/*		float: left;*/
}



.small_blog {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 12.5px;
		letter-spacing: .1em;
		line-height: 2em;
		text-align: center;
	  	background-color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;


}

.sml {
		font-family: "Oswald", sans-serif;
		font-size: 10px;
		letter-spacing: .1em;
		font-weight: 400;
		display: inline;
/*		font-variant: small-caps;*/
}


#pic_a {
	display: block;
/*	clear: none;*/
	text-align: left;
	max-width: 130px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 60px;
	margin-bottom: 60px;
	margin-top: -10px;
}


#pic_b {
	display: block;
	float: left;
	clear: both;
	text-align: left;
	max-width: 130px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-top: -14px;
}


#pic_c {
	display: block;
/*	float: right;*/
	text-align: center;
	padding-top: 0px;
	max-width: 90px;
	padding-left: 66px;
	padding-right: 60px;
	padding-bottom: 0px;

}


#fb {
	display: block;
/*	float: right;*/
	text-align: center;
	max-height: 26px;
	background-size: 0px;
	max-width: 26px;
	line-height: 1em;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}


#mail {
	display: block;
/*	float: right;*/
	text-align: left;
	max-height: 26px;
	background-size: 0px;
	max-width: 26px;
	line-height: 1em;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}


h5 {
		font-family: "Oswald", sans-serif;
		font-size: 12px;
		letter-spacing: .25em;
		font-weight: 400;
		text-align: center;
		display: block;
		padding-top: 0px;
	 	margin: 0px;
}

h6 {
		font-family: "Oswald", sans-serif;
		font-size: 12px;
		letter-spacing: .25em;
		font-weight: 400;
		text-align: center;
		display: block;
		padding-top: 24px;
		padding-bottom: 0px;
	 	margin: 0px;
}


#about {
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 13px;
		line-height: 2em;
		text-align: center;
	  	background-color: #fff;
		padding-top: -30px;
	 	margin: 0px;
		display: block;
		float: right;
		max-width: 240px;
}



hr {
margin-top: 10px;
margin-bottom: 16px;
border-width: 1px;
}


}

footer {
		display: block;
		float: left;
		clear: both;
		margin-bottom: 20px;
		text-align: center;
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-size: 11px;

}








