*{
margin-left: 30px;
margin-right: 30px;
margin-top: 15px;
margin-bottom: 15px;
}


/*	#slogan*/

body{
background-color: #bce4e6;
}

div{
	text-align: center;
}
img{
	width=“480px"
	padding-bottom="25px"
}

h1{	
	font-family: "Roboto", sans-serif;
	font-weight: thin;
	font-size: 280px;
	text-align: center;
	color: #FFF;
}

hr{
	margin-left: 150px;
	margin-right: 150px;
}



header{
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	color: #000;
}


h2{	
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 50px;
	color: #000;
}

h3{
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	font-size: 70px;
	text-align: center;
}


h4{
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	font-size: 46px;
	text-align: center;
}

h6{
	font-family: "Roboto", sans-serif;
	font-weight: light;
	font-size: 20px;
	text-align: center;

}


p{
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	font-size: 32px;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
}


ul{
	font-family: "Roboto", sans-serif;
		font-weight: light;
		font-size: 20px;
		line-height: 16px;
		text-align: center;
	list-style-type: none;
}

footer{
	padding: 20px;
}

